<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeySmash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeySmash.Properties.Settings>
            <setting name="SlowMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixCaret" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TypingStartDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="RegisterHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkGetClipboardKey" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="hkGetClipboardCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkGetClipboardAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkGetClipboardShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkGetClipboardWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkTypeTextKey" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="hkTypeTextCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkTypeTextAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkTypeTextShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hkTypeTextWin" serializeAs="String">
                <value>False</value>
            </setting>
        </KeySmash.Properties.Settings>
    </userSettings>
</configuration>